
table.header
{
  width: 100%;
  border-spacing: 0; 
}

a.header 
{ 
  font-size: 25px;
  //width: 1;
  display: block;
  color: #FFFFFF;
  padding: 5px 20px 5px 20px;
}

td.header
{
  width: 1px;
}

body
{
  //text-size-adjust: none;  
  margin: 0px;
  font-family: Calibri, sans-serif;
  margin-bottom: 100px;
}

div.mainText
{
  font-size: 18px;
  padding-left: 5%;
  width: 90%;
}

table.mainTable
{
  border-spacing: 100; 
}

img.mainTable
{
  width: 100%;
  display: block;
}

td.mainTable
{
  //width: 1px;
}

div.mainTable
{
  padding-top: 10px;
  padding-bottom: 10px;
}

	