
table.header
{
  left: 0;
  top: 0;
  width: 100%;
  border-spacing: 0; 
 }

a.header 
{ 
  width: 1;
  display: block;
  color: #FFFFFF;
  padding: 5px 20px 5px 20px;
}

td.header
{
  width: 1px;
}

body
{
  margin: 0px;
  font-family: Calibri, sans-serif;
}

div.mainText
{
  width: 600px;
  padding-left: 100px;
  //font-size: 100px;
}


	