a.panel
{
  font-size: 18px;
  color: black;
}

div.panels
{
  font-size: 18px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

div.panel
{
  background-color: rgb(250, 215, 180);
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  min-height:50px;
  //vertical-align: middle;
}

img.panel
{
  border-radius: 20px;
  display: block;
  width: 100%;
  //bottom: 10%;
}
